#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  position: relative;

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
};
}

#mainmap {
  width: 100%;
  height: 400px;
  background-color: grey;
  position: relative;

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
};
}

.citysearchbar {
  width:50%;
  text-align: right;
}

#myBar_trips {
    width: 1%;
    height: 30px;
    background-color: #0000FF;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

#myBar_city_trips {
    width: 20%;
    height: 30px;
    background-color: #0000FF;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

#myBar_trip_vibes {
    width: 40%;
    height: 30px;
    background-color: #0000FF;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

#myBar_trip_activities {
    width: 60%;
    height: 30px;
    background-color: #0000FF;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

#myBar_recommendations {
    width: 80%;
    height: 30px;
    background-color: #0000FF;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}
